.main {
  background-color: #dae4ed;
  text-align: center;
  align-items: center;
  max-width: 100%;
}
li {
  list-style-type: none;
}
.firstInput {
  height: 7vh;
  width: 20vw;
  border-radius: 2rem;
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}
#navbarDropdown {
  color: black;
}
.searchCars {
  margin-left: 25vw;
  width: 44rem;
  height: 70px;
  border-radius: 2rem;
  align-items: center;
  background-color: #f1f1f1;
  object-fit: cover;
}
.imagem {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
  display: flex;
      width: 60%;
}
.imagem img{
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;
}
h2{
  text-align: center;
}

@media (max-width: 768px),
       (max-width: 1024px),
       (max-width: 1200px),
       (max-width: 320px),
       (max-width: 670px)
       (max-width: 600px) {
  .container {
    overflow: hidden;
  }
  
  .main,
  .form1,
  .searchCars,
  .firstInput {
    width: 100%;
    margin-left: 0;
  }
  
  .searchCars,
  .divImagem,
  .imagem {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 13rem;
  }

  
  @media (max-width: 375px) {
    .imagem {
      height: 80%;
      margin-top: 15rem;
      padding-top: 8rem;
    }
  }
}

@media (max-width: 520px),
       (max-width: 425px) {
  .container {
    overflow: hidden;
  }
  
  .main,
  .form1,
  .searchCars,
  .firstInput {
    width: 100%;
    margin-left: 0;
  }
  
  .searchCars,
  .divImagem,
  .imagem {
    width: 100%;
    height: auto;
    margin-top: 13rem;

  }

}
