.main {
  background-color: #dae4ed;
  text-align: center;
  align-items: center;
 

}
.form1 {
  width: 400px;
}
li {
  list-style-type: none;
}

.firstInput {
  margin-left: 2rem;
  height: 40px;
  width: 200px;
  border-radius: 2rem;
  text-align: center;
}
.icon {
  position: relative;
}
.icon2 {
  margin-left: 3px;
  height: 5px;
}
#navbarDropdown {
  color: black;
}
.searchCars {
  margin-left: 22rem;
  width: 45rem;
  height: 70px;
  border-radius: 2rem;
  align-items: center;
  background-color: #f1f1f1;
}
.imagem {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
  display: flex;
      width: 60%;

}
.imagem img{
  max-width: 100%;
  object-fit: cover;
  margin: 0 auto;



}

    

h2{
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    overflow: hidden;
  }
  
  .main {
    width: 100%;
  }
  
  .form1 {
    width: 100%;
  }
  
  .searchCars {
    margin-left: 0;
    width: 100%;
  }
  
  .firstInput {
    margin-left: 0;
    width: 100%;
  }
  
  .searchCars {
    width: 100%;
    height: auto;
  }
  .imagem {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .container {
    overflow: hidden;
  }
  
  .main {
    width: 100%;
  }
  
  .form1 {
    width: 100%;
  }
  
  .searchCars {
    margin-left: 0;
    width: 100%;
  }
  
  .firstInput {
    margin-left: 0;
    width: 100%;
  }
  
  .searchCars {
    width: 100%;
    height: auto;
  }
  .imagem {
    width: 100%;
    height: auto;

  }
}

@media (max-width: 570px) {
  .container {
    overflow: hidden;
  }
  
  .main {
    width: 100%;
  }
  
  .form1 {
    width: 100%;
  }
  
  .searchCars {
    margin-left: 0;
    width: 100%;
  }
  
  .firstInput {
    margin-left: 0;
    width: 100%;
  }
  
  .searchCars {
    width: 100%;
    height: auto;
  }
  .imagem {
    width: 100%;
    height: auto;
 

  }
}
@media (max-width: 670px) {
  .container {
    overflow: hidden;
  }
  
  .main {
    width: 100%;
  }
  
  .form1 {
    width: 100%;
  }
  
  .searchCars {
    margin-left: 0;
    width: 100%;
  }
  
  .firstInput {
    margin-left: 0;
    width: 100%;
  }
  
  .searchCars {
    width: 100%;
    height: auto;
  }
  .imagem {
    width: 100%;
    height: auto;


  }
}
@media (max-width: 520px) {
  .container {
    overflow: hidden;
  }
  
  .main {
    width: 100%;
  }
  
  .form1 {
    width: 100%;
  }
  
  .searchCars {
    margin-left: 0;
    width: 100%;
  }
  
  .firstInput {
    margin-left: 0;
    width: 100%;
  }
  
  .searchCars {
    width: 100%;
    height: auto;
  }
  .imagem {
    width: 100%;
    height: auto;
   

  }
}
@media (max-width: 440px) {
  .container {
    overflow: hidden;
  }
  
  .main {
    width: 100%;
  }
  
  .form1 {
    width: 100%;
  }
  
  .searchCars {
    margin-left: 0;
    width: 100%;
  }
  
  .firstInput {
    margin-left: 0;
    width: 100%;
  }
  
  .searchCars {
    width: 100%;
    height: auto;
  }
  .imagem {
    width: 100%;
    height: auto;
    

  }
}
